# Set shortcuts to vi style
set editing-mode vi

# Show vi mode in prompt
set show-mode-in-prompt on

set vi-ins-mode-string \1\e[34;2m\2[i] \1\e[0m\2
set vi-cmd-mode-string \1\e[35;2m\2[c] \1\e[0m\2

# One tab press complition
set show-all-if-unmodified on

# Color files by types
# Note that this may cause completion text blink in some terminals (e.g. xterm).
set colored-stats On
# Append char to indicate type
set visible-stats On
# Mark symlinked directories
set mark-symlinked-directories On
# # Color the common prefix
# set colored-completion-prefix On
# # Color the common prefix in menu-complete
# set menu-complete-display-prefix On
